html body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, textarea, p, th, td, img, em, hr {
    margin:0;
    padding:0;
    -webkit-text-size-adjust:none
}
html {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
*, :before, :after {
    -webkit-box-sizing:inherit;
    -moz-box-sizing:inherit;
    box-sizing:inherit
}
body {
    font-family:'PingFang SC', 'Helvetica Neue', Helvetica, STHeitiSC-Light, WOL_SB, 'Segoe UI Semibold', 'Segoe UI', Tahoma, Helvetica, sans-serif;
    font-size:12px;
    font-weight:400;
    color:#666;
    background:#fff;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    text-rendering:optimizelegibility
}
select {
    -webkit-appearance:menulist-button
}
ol, ul {
    list-style:none
}
fieldset, img {
    border:0
}
table {
    border-spacing:0;
    border-collapse:collapse;
    -webkit-font-smoothing:initial;
    -moz-osx-font-smoothing:initial;
    text-rendering:auto
}
i {
    font-style:normal
}
a {
    text-decoration:none;
    color:#666;
    transition:all .2s ease-in-out
}
a:hover {
    transition:initial
}
a.link, .font-underline {
    text-decoration:underline
}
a:hover, .font-underline:hover {
    text-decoration:none
}
a.disabled {
    cursor:not-allowed;
    color:#c2c2c2
}
a.disabled:hover {
    background:none!important
}
.none, .hidden {
    display:none
}
.visible {
    visibility:visible!important
}
.invisible {
    visibility:hidden!important
}
em {
    font-style:normal
}
th {
    font-weight:400
}
hr {
    border:0;
    height:1px
}
:focus {
    outline:0
}
.display-none {
    display:none
}
.display-inline {
    display:inline!important
}
.display-inline-block {
    display:inline-block
}
.display-block {
    display:block!important
}
.cursor-pointer {
    cursor:pointer
}
.cursor-default {
    cursor:default!important
}
.cursor-move {
    cursor:move
}
.cursor-crosshair {
    cursor:crosshair
}
.cursor-no-drop {
    cursor:no-drop
}
.cursor-none {
    cursor:none!important
}
.cursor-not-allowed {
    cursor:not-allowed!important
}
.user-select-none {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
input[type=text]:focus {
    box-shadow:0 -2px 0 0 #5182e4 inset
}
input[type=text], input[type=password], input[type=number], input[type=email] {
    font-size:12px;
    height:24px;
    background:transparent;
    font-family:'PingFang SC', 'Helvetica Neue', Helvetica, STHeitiSC-Light, 'Microsoft yahei', Tahoma, Verdana, Arial, sans-serif;
    border:0;
    border-radius:0;
    color:rgba(10, 18, 32, .87);
    box-shadow:0 -1px 0 0 rgba(81, 130, 228, .6) inset
}
::selection {
    background-color:rgba(81, 130, 228, .2)
}
::-moz-selection {
    background-color:rgba(81, 130, 228, .2)
}
select:-moz-focusring {
    color:transparent;
    text-shadow:0 0 0 #000
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color:rgba(10, 18, 32, .46)
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color:rgba(10, 18, 32, .46)
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color:rgba(10, 18, 32, .46)
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color:rgba(10, 18, 32, .46)
}
input:focus {
    outline:0
}
.input {
    color:#666
}
input[type=text] {
    border-radius:0
}
input[type=radio] {
    position:relative;
    margin:0 1px 0 0;
    -webkit-user-select:none;
    border:2px solid rgba(0, 0, 0, .15);
    -webkit-appearance:none
}
input[type=radio] {
    bottom:2px;
    width:14px;
    height:14px;
    vertical-align:middle;
    border-radius:100%;
    cursor:pointer
}
input[type=radio]:checked {
    border:2px solid rgba(114, 175, 217, .5);
    background-image:none
}
input[type=radio]:checked::before {
    position:absolute;
    top:3px;
    right:3px;
    bottom:3px;
    left:3px;
    display:block;
    content:'';
    border-radius:100%;
    background-color:#72afd9
}
input[type=radio]:active {
    box-shadow:none;
    text-shadow:none
}
input[type=checkbox] {
    position:relative;
    margin:0 1px 0 0;
    cursor:pointer;
    -webkit-user-select:none;
    border:1px solid rgba(0, 0, 0, .25);
    border-radius:0;
    -webkit-appearance:none
}
input[type=checkbox] {
    bottom:2px;
    width:12px;
    height:12px;
    vertical-align:middle;
    background-color:#f2f2f2
}
input[type=checkbox]:disabled {
    background-color:#eee
}
input[type=checkbox]:checked {
    border:0;
    background-color:#72afd9
}
input[type=checkbox]:checked::before {
    position:absolute;
    top:5px;
    left:4px;
    width:65%;
    height:2px;
    content:'';
    -webkit-transform:rotate(135deg);
    background-color:#fff
}
input[type=checkbox]:checked::after {
    position:absolute;
    top:6px;
    left:2px;
    width:5px;
    height:2px;
    content:'';
    -webkit-transform:rotate(-135deg);
    background-color:#fff
}
input[type=checkbox]:active {
    box-shadow:none;
    text-shadow:none
}
input[disabled=disabled], select[disabled=disabled] {
    opacity:.24
}
input[type=text].input-disabled, input[type=number].input-disabled {
    opacity:.4;
    cursor:not-allowed
}
input:-webkit-autofill {
    background-color:transparent!important
}
input::-ms-clear {
    display:none;
    width:0;
    height:0
}
.select-a {
    line-height:24px;
    width:180px;
    height:24px;
    margin:2px;
    padding-left:5px
}
.select {
    margin:2px;
    padding-left:5px
}
.select-b {
    line-height:24px;
    height:24px
}
.select-s {
    line-height:24px;
    height:24px
}
textarea {
    resize:none
}
.border-box {
    box-sizing:border-box!important
}
body>a {
    display:none
}
.fl {
    float:left
}
.fr {
    float:right
}
.fr-icon-btn {
    float:right;
    position:absolute;
    right:0;
    width:60px
}
.clear {
    clear:both
}
.clearfix:before, .clearfix:after {
    display:table;
    content:''
}
.clearfix:after {
    clear:both
}
.clearfix {
    zoom:1
}
.vm {
    vertical-align:middle!important
}
.vt {
    vertical-align:top!important
}
.vb {
    vertical-align:bottom!important
}
.space10 {
    width:100%;
    height:10px
}
.space15 {
    width:100%;
    height:15px
}
.r0 {
    right:0
}
.z1 {
    z-index:1
}
.no-margin {
    margin:0!important
}
.no-padding {
    padding:0!important
}
.mg0 {
    margin:0
}
.mg16 {
    margin:16px
}
.mg8 {
    margin:8px
}
.mg16 {
    margin:16px
}
.mg24 {
    margin:24px
}
.ml0 {
    margin-left:0!important
}
.ml4 {
    margin-left:4px
}
.ml5 {
    margin-left:5px
}
.ml5-i {
    margin-left:5px!important
}
.ml6 {
    margin-left:6px
}
.ml8 {
    margin-left:8px
}
.ml10 {
    margin-left:10px
}
.ml12 {
    margin-left:12px
}
.ml15 {
    margin-left:15px
}
.ml16 {
    margin-left:16px
}
.ml20 {
    margin-left:20px
}
.ml24 {
    margin-left:24px
}
.ml26 {
    margin-left:26px
}
.ml32 {
    margin-left:32px
}
.ml36 {
    margin-left:36px
}
.ml56 {
    margin-left:56px
}
.ml140 {
    margin-left:140px!important
}
.mr0 {
    margin-right:0!important
}
.mr4 {
    margin-right:4px
}
.mr4-i {
    margin-right:4px!important
}
.mr5 {
    margin-right:5px
}
.mr8 {
    margin-right:8px!important
}
.mr10 {
    margin-right:10px
}
.mr14 {
    margin-right:14px
}
.mr15 {
    margin-right:15px
}
.mr16 {
    margin-right:16px!important
}
.mr20 {
    margin-right:20px
}
.mr22 {
    margin-right:22px
}
.mr24 {
    margin-right:24px
}
.mr30 {
    margin-right:30px
}
.mr32 {
    margin-right:32px
}
.mr40 {
    margin-right:40px
}
.mt-2 {
    margin-top:-2px
}
.mt0 {
    margin-top:0
}
.mt2 {
    margin-top:2px
}
.mt4 {
    margin-top:4px
}
.mt5 {
    margin-top:5px
}
.mt6 {
    margin-top:6px
}
.mt8 {
    margin-top:8px
}
.mt10 {
    margin-top:10px
}
.mt12 {
    margin-top:12px
}
.mt16 {
    margin-top:16px!important
}
.mt20 {
    margin-top:20px
}
.mt24 {
    margin-top:24px!important
}
.mt30 {
    margin-top:30px
}
.mt32 {
    margin-top:30px
}
.mt36 {
    margin-top:36px
}
.mt40 {
    margin-top:40px
}
.mt42-i {
    margin-top:42px!important
}
.mt45 {
    margin-top:45px
}
.mt60 {
    margin-top:60px
}
.mt70 {
    margin-top:70px
}
.mb20 {
    margin-bottom:20px
}
.mb16 {
    margin-bottom:16px
}
.mb15 {
    margin-bottom:15px
}
.mb0 {
    margin-bottom:0
}
.mb4 {
    margin-bottom:4px
}
.mb8 {
    margin-bottom:8px
}
.mb10 {
    margin-bottom:10px
}
.mb16 {
    margin-bottom:16px!important
}
.mb24 {
    margin-bottom:24px!important
}
.mb32 {
    margin-bottom:32px!important
}
.mb-24 {
    margin-bottom:-24px
}
.pd2 {
    padding:2px
}
.pd3 {
    padding:3px
}
.pd5 {
    padding:5px
}
.pd8 {
    padding:8px
}
.pd10 {
    padding:10px
}
.pd8 {
    padding:8px
}
.pd16 {
    padding:16px
}
.pd15 {
    padding:15px
}
.pd20 {
    padding:20px
}
.pd24 {
    padding:24px
}
.pb0 {
    padding-bottom:0
}
.pb10 {
    padding-bottom:10px
}
.pb20 {
    padding-bottom:20px
}
.pt0 {
    padding-top:0
}
.pb16 {
    padding-bottom:16px
}
.pt8 {
    padding-top:8px
}
.pb8 {
    padding-bottom:8px
}
.pt4 {
    padding-top:4px
}
.pt10 {
    padding-top:10px
}
.pt12 {
    padding-top:12px
}
.pt16 {
    padding-top:16px
}
.pt24 {
    padding-top:24px
}
.pl8 {
    padding-left:8px!important
}
.pr8 {
    padding-right:8px
}
.pl10 {
    padding-left:10px!important
}
.pr10 {
    padding-right:10px!important
}
.pl12 {
    padding-left:12px
}
.pr16 {
    padding-right:16px
}
.pr24 {
    padding-right:24px
}
.pr28 {
    padding-right:28px
}
.pr32 {
    padding-right:32px
}
.pr64 {
    padding-right:64px
}
.pl15 {
    padding-left:15px
}
.pl18 {
    padding-left:18px
}
.pt20 {
    padding-top:20px
}
.pl20 {
    padding-left:20px
}
.pr20 {
    padding-right:20px
}
.pl16 {
    padding-left:16px!important
}
.pl24 {
    padding-left:24px
}
.pl32 {
    padding-left:32px
}
.pl36 {
    padding-left:36px
}
.pl48 {
    padding-left:48px
}
.center {
    margin:0 auto
}
.br2 {
    border-radius:2px
}
.br3 {
    border-radius:3px
}
.br4 {
    border-radius:4px
}
.br6 {
    border-radius:6px
}
.br8 {
    border-radius:8px
}
.br2-t-l {
    border-top-left-radius:2px
}
.br2-t-r {
    border-top-right-radius:2px
}
.no-shadow {
    box-shadow:none!important
}
.cr {
    color:red!important
}
.cr-hint {
    color:#ff855a!important
}
.cr-999 {
    color:#999
}
.cr-link {
    color:#5182E4
}
.cr-white {
    color:#fff
}
.cr-bdp {
    color:#7ABCE9
}
.bgc-fff {
    background-color:#fff
}
.ps {
    position:static!important
}
.pr {
    position:relative
}
.pa {
    position:absolute
}
.pf {
    position:fixed
}
.nowrap {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis
}
.no-border {
    border:0!important
}
.no-border-right {
    border-right:0!important
}
.no-border-top {
    border-top:0!important
}
.text-center {
    text-align:center!important
}
.text-left {
    text-align:left
}
.text-right {
    text-align:right
}
.text-decoration-none {
    text-decoration:none
}
.text-decoration-underline, .text-decoration-hover-underline:hover {
    text-decoration:underline
}
.text-decoration-underline:hover {
    text-decoration:none
}
.overflow-hidden {
    overflow:hidden
}
.overflow-auto {
    overflow:auto
}
.overflow-y-scroll {
    overflow-y:scroll
}
.overflow-scroll {
    overflow:scroll
}
.word-break-all {
    word-break:break-all
}
.w100 {
    width:100%!important
}
.w100px {
    width:100px!important
}
.w120px {
    width:130px!important
}
.w130px {
    width:130px!important
}
.w168 {
    width:168px
}
.w180 {
    width:180px
}
.w208 {
    width:208px
}
.w240 {
    width:240px
}
.w360 {
    width:360px
}
.w150 {
    width:150px!important
}
.w200 {
    width:200px!important
}
.w80 {
    width:80px!important
}
.w60 {
    width:60px!important
}
.height100-i {
    height:100%!important
}
.height100 {
    height:100px!important
}
.height240 {
    height:240px!important
}
.h40 {
    height:40px
}
.icon-size24 {
    width:24px;
    height:24px
}
.icon-size16 {
    width:16px;
    height:16px
}
h5 {
    font-size:12px
}
.errTipsLayer {
    position:fixed;
    left:0;
    width:100%;
    top:4px;
    z-index:20000;
    text-align:center
}
.errTips {
    display:inline-block;
    text-align:center;
    min-width:300px;
    line-height:32px;
    color:#FFF;
    background-color:#E45151;
    padding:0 5px;
    box-shadow:0 0 6px 0 rgba(0, 0, 0, .1), 0 12px 24px 0 rgba(0, 0, 0, .3)
}
.ng-cloak {
    display:none!important
}
.font-w-n {
    font-weight:400
}
.font-w-b {
    font-weight:700
}
.fontsize-10 {
    font-size:10px
}
.font-size-12 {
    font-size:12px
}
.font-size-14 {
    font-size:14px
}
.font-size-22 {
    font-size:22px
}
.operator-help-link {
    color:#7ABCE9;
    float:left;
    line-height:32px;
    text-decoration:underline;
    cursor:pointer;
    margin:0 0 0 16px
}
.operator-help-link .bdp-icon {
    margin-right:4px
}
.operator-help-link:hover {
    text-decoration:none
}
.height-auto {
    height:auto!important
}
.height-32 {
    height:32px;
    line-height:32px
}
.line-height-18 {
    line-height:18px!important
}
.line-height-19 {
    line-height:19px
}
.line-height-20 {
    line-height:20px!important
}
.line-height-22 {
    line-height:22px
}
.line-height-24 {
    line-height:24px!important
}
.line-height-25 {
    line-height:25px
}
.line-height-32 {
    line-height:32px!important
}
.line-height-42 {
    line-height:42px
}
.elem-bg-gray, .elem-gray-hover:hover {
    background-color:rgba(0, 0, 0, .06)
}
.under-workspace {
    height:calc(100% - 40px)!important
}
.date-layer {
    z-index:1000
}
div[date-picker] {
    padding:10px
}
[date-range][date-picker] .after.before, [date-range-bdp][date-picker] .after.before {
    border-radius:50%
}
[date-range][date-picker] .after.before:hover, [date-range][date-picker] .after.before:active, [date-range][date-picker] .after.before.active, [date-range][date-picker] .after.before.disabled, [date-range][date-picker] .after.before[disabled], [date-range-bdp][date-picker] .after.before:hover, [date-range-bdp][date-picker] .after.before:active, [date-range-bdp][date-picker] .after.before.active, [date-range-bdp][date-picker] .after.before.disabled, [date-range-bdp][date-picker] .after.before[disabled] {
    border-radius:50%
}
div[date-picker] .active, div[date-picker] .now {
    border-radius:50%
}
[date-picker] .active:hover, [date-picker] .active:active, [date-picker] .active.active, [date-picker] .active.disabled, [date-picker] .active[disabled] {
    border-radius:50%
}
div[date-picker] .now:hover, div[date-picker] .now:active, div[date-picker] .now.active, div[date-picker] .now.disabled, div[date-picker] .now[disabled] {
    border-radius:50%
}
[date-picker] td, [date-picker] th {
    padding:0 8px!important
}
[date-picker] td span:hover {
    border-radius:50%
}
[date-picker][ng-switch-when=year] span {
    width:32px!important;
    height:32px!important;
    line-height:32px!important;
    margin:6px 12px!important
}
[date-picker][ng-switch-when=month] span {
    width:24px!important;
    height:24px!important;
    line-height:24px!important;
    margin:6px 12px!important
}
div[date-picker][ng-switch-when=date] span {
    width:26px!important
}
.opacity1-i {
    opacity:1!important
}
.opacity6 {
    opacity:.6
}
.opacity4 {
    opacity:.4
}
.tooltip-inner {
    border-radius:0!important
}
.transition {
    transition:all .3s ease-in-out
}
/*! ng-dialog - v0.3.7 (https://github.com/likeastore/ngDialog) */
@-webkit-keyframes ngdialog-fadeout {
    0% {
        opacity:1
    }
    100% {
        opacity:0
    }
}
@keyframes ngdialog-fadeout {
    0% {
        opacity:1
    }
    100% {
        opacity:0
    }
}
@-webkit-keyframes ngdialog-fadein {
    0% {
        opacity:0
    }
    100% {
        opacity:1
    }
}
@keyframes ngdialog-fadein {
    0% {
        opacity:0
    }
    100% {
        opacity:1
    }
}
.ngdialog, .ngdialog *, .ngdialog :after, .ngdialog :before {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.ngdialog {
    position:fixed;
    overflow:auto;
    -webkit-overflow-scrolling:touch;
    z-index:10000;
    top:0;
    right:0;
    bottom:0;
    left:0
}
.ngdialog-overlay {
    position:fixed;
    background:rgba(0, 0, 0, .4);
    top:0;
    right:0;
    bottom:0;
    left:0;
    -webkit-backface-visibility:hidden;
    -webkit-animation:ngdialog-fadein .5s;
    animation:ngdialog-fadein .5s
}
.ngdialog.ngdialog-closing .ngdialog-overlay {
    -webkit-backface-visibility:hidden;
    -webkit-animation:ngdialog-fadeout .5s;
    animation:ngdialog-fadeout .5s
}
.ngdialog-content {
    background:#fff;
    -webkit-backface-visibility:hidden;
    -webkit-animation:ngdialog-fadein .5s;
    animation:ngdialog-fadein .5s
}
.ngdialog.ngdialog-closing .ngdialog-content {
    -webkit-backface-visibility:hidden;
    -webkit-animation:ngdialog-fadeout .5s;
    animation:ngdialog-fadeout .5s
}
.ngdialog-close:before {
    font-family:Helvetica, Arial, sans-serif;
    content:'\00D7';
    cursor:pointer
}
body.ngdialog-open {
    overflow:hidden
}
.ngdialog.ngdialog-theme-default {
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    align-items:center;
    min-height:24em;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    justify-content:center;
    display:block\0
}
.ngdialog.ngdialog-theme-default .ngdialog-title {
    line-height:32px;
    text-align:left;
    font-size:14px;
    font-weight:700;
    padding:10px 0 8px 24px
}
.ngdialog.ngdialog-theme-default .ngdialog-title-b {
    height:32px;
    line-height:32px;
    margin-top:16px;
    margin-bottom:24px
}
.ngdialog.ngdialog-theme-default .ngdialog-content {
    font-size:12px;
    line-height:1.5em;
    margin:0 auto;
    max-width:100%;
    box-sizing:border-box;
    width:460px;
    position:relative;
    margin-top:100px\0
}
.ngdialog.ngdialog-theme-default .ngdialog-close {
    cursor:pointer;
    position:absolute;
    right:24px;
    top:18px;
    width:16px;
    height:16px;
    text-indent:-9000em;
    z-index:10
}
.ngdialog.ngdialog-theme-default .ngdialog-message {
    padding:8px 32px
}
.ngdialog.ngdialog-theme-default pre.ngdialog-message {
    white-space:pre-line
}
.ngdialog.ngdialog-theme-default .ngdialog-message.no-margin {
    padding:0
}
.ngdialog-message:before, .ngdialog-message:after {
    content:"";
    display:table
}
.ngdialog-message:after {
    clear:both
}
.ngdialog-message {
    zoom:1
}
.ngdialog.ngdialog-theme-default .ngdialog-input {
    margin-bottom:1em
}
.ngdialog.ngdialog-theme-default .ngdialog-input input[type=email], .ngdialog.ngdialog-theme-default .ngdialog-input input[type=password], .ngdialog.ngdialog-theme-default .ngdialog-input input[type=text], .ngdialog.ngdialog-theme-default .ngdialog-input input[type=url], .ngdialog.ngdialog-theme-default .ngdialog-input textarea {
    font-family:inherit;
    font-size:inherit;
    font-weight:inherit;
    margin:0 0 .25em;
    min-height:2.5em;
    padding:.25em .67em
}
.ngdialog.ngdialog-theme-default .ngdialog-input input[type=email]:focus, .ngdialog.ngdialog-theme-default .ngdialog-input input[type=password]:focus, .ngdialog.ngdialog-theme-default .ngdialog-input input[type=text]:focus, .ngdialog.ngdialog-theme-default .ngdialog-input input[type=url]:focus, .ngdialog.ngdialog-theme-default .ngdialog-input textarea:focus {
    outline:0
}
.ngdialog.ngdialog-theme-default .ngdialog-buttons {
    *zoom:1;
    text-align:right;
    padding:10px
}
.ngdialog.ngdialog-theme-default .ngdialog-buttons:after {
    content:'';
    display:table;
    clear:both
}
.ngdialog.ngdialog-theme-default .ngdialog-link-button {
    text-decoration:underline;
    line-height:32px;
    cursor:pointer
}
.ngdialog.ngdialog-theme-default .ngdialog-button {
    height:32px;
    padding:0 16px;
    cursor:pointer;
    text-transform:uppercase;
    font-size:14px;
    margin:0 0 0 8px;
    border:0 none;
    font-weight:700
}
.ngdialog.ngdialog-theme-default .ngdialog-button:focus {
    -webkit-animation:ngdialog-pulse 1.1s infinite;
    animation:ngdialog-pulse 1.1s infinite;
    outline:0
}
.ngdialog.ngdialog-theme-default .ngdialog-button.ngdialog-button-disabled, .ngdialog.ngdialog-theme-default .row .btn:disabled {
    border:0;
    cursor:not-allowed
}
.ngdialog .l-input {
    width:298px
}
.ngdialog .m-input {
    width:149px
}
.ngdialog .s-input {
    width:80px
}
.ngdialog.ngdialog-theme-default .btn {
    cursor:pointer;
    text-align:center;
    line-height:1em;
    font-size:14px
}
.ngdialog.ngdialog-theme-default .row .btn {
    width:100%;
    height:44px;
    line-height:44px
}
.ngdialog.ngDialog-width-percent-80 .ngdialog-content {
    width:80%
}
.ngdialog.ngDialog-width-844 .ngdialog-content {
    width:844px
}
.ngdialog.ngdialog-width-818 .ngdialog-content {
    width:818px
}
.ngdialog.ngDialog-width-800 .ngdialog-content {
    width:800px
}
.ngdialog.ngDialog-width-780 .ngdialog-content {
    width:780px
}
.ngdialog.ngDialog-width-700 .ngdialog-content {
    width:700px
}
.ngdialog.ngdialog-width-712 .ngdialog-content {
    width:712px
}
.ngdialog.ngDialog-width-740 .ngdialog-content {
    width:740px
}
.ngdialog.ngDialog-width-752 .ngdialog-content {
    width:752px
}
.ngdialog.ngDialog-width-650 .ngdialog-content {
    width:650px
}
.ngdialog.ngDialog-width-640 .ngdialog-content {
    width:640px
}
.ngdialog.ngDialog-width-600 .ngdialog-content {
    width:600px
}
.ngdialog.ngDialog-width-552 .ngdialog-content {
    width:552px
}
.ngdialog.ngDialog-width-520 .ngdialog-content {
    width:520px
}
.ngdialog.ngDialog-width-510 .ngdialog-content {
    width:510px
}
.ngdialog.ngDialog-width-480 .ngdialog-content {
    width:480px
}
.ngdialog.ngDialog-width-460 .ngdialog-content {
    width:460px
}
.ngdialog.ngDialog-width-420 .ngdialog-content {
    width:420px
}
.ngdialog.ngDialog-width-400 .ngdialog-content {
    width:400px
}
.ngdialog.ngDialog-width-390 .ngdialog-content {
    width:390px
}
.ngdialog.ngDialog-width-380 .ngdialog-content {
    width:380px
}
.ngdialog.ngDialog-width-370 .ngdialog-content {
    width:370px
}
.ngdialog.ngDialog-width-360 .ngdialog-content {
    width:360px
}
.ngdialog.ngDialog-width-356 .ngdialog-content {
    width:356px
}
.ngdialog.ngdialog-width-348 .ngdialog-content {
    width:348px
}
.ngdialog.ngdialog-width-344 .ngdialog-content {
    width:344px
}
.ngdialog.ngdialog-width-340 .ngdialog-content {
    width:340px
}
.ngdialog.ngDialog-width-330 .ngdialog-content {
    width:330px
}
.ngdialog.ngDialog-width-320 .ngdialog-content {
    width:320px
}
.ngdialog.ngDialog-width-300 .ngdialog-content {
    width:300px
}
.ngdialog.ngDialog-width-auto .ngdialog-content {
    width:auto
}
.ngdialog.ngdialog-confim-box .ngdialog-title {
    height:32px;
    line-height:32px
}
.ngdialog.ngdialog-theme-default .ngdialog-buttons.buttons-center {
    text-align:center
}
.confirm-to-continue .ngdialog-content {
    position:fixed;
    left:0;
    top:4px;
    z-index:20000;
    width:100%!important;
    text-align:center;
    background:transparent
}
.confirm-to-continue .confirm-content {
    position:relative;
    display:inline-block;
    text-align:center;
    padding:6px 90px 6px 16px;
    min-width:300px;
    max-width:606px;
    min-height:34px;
    font-size:12px;
    font-weight:300
}
.confirm-to-continue .confirm-content .confirm-message {
    text-align:left;
    line-height:1.8
}
.confirm-to-continue .confirm-content .button-group {
    position:absolute;
    top:50%;
    margin-top:-17px;
    right:8px;
    width:94px
}
.confirm-to-continue .confirm-content .ok {
    float:right;
    padding:7px 0;
    text-align:left;
    margin-right:10px;
    cursor:pointer;
    line-height:1.8
}
.confirm-to-continue .confirm-content .cancel {
    float:right;
    padding:7px 6px 6px;
    cursor:pointer
}
.confirm-to-continue .confirm-content .cancel .ico-close {
    display:inline-block;
    width:18px;
    height:18px;
    background:url(../img/ico_close.png?__sprite) 0 0 no-repeat
}
.result-title.alter-dialog {
    text-align:center;
    margin:6px auto 0
}
.result-title.alter-dialog .success-text {
    padding:0 24px
}
.result-title.alter-dialog .success-text p {
    margin-top:8px;
    color:#666
}
body {
    color:rgba(10, 18, 32, .64)
}
.row {
    overflow:hidden
}
.col-md-1 {
    float:left;
    width:8.33333%
}
@media (max-width:767px) {
    .col-md-1 {
        width:100%
    }
}
.col-md-2 {
    float:left;
    width:16.66667%
}
@media (max-width:767px) {
    .col-md-2 {
        width:100%
    }
}
.col-md-3 {
    float:left;
    width:25%
}
@media (max-width:767px) {
    .col-md-3 {
        width:100%
    }
}
.col-md-4 {
    float:left;
    width:33.33333%
}
@media (max-width:767px) {
    .col-md-4 {
        width:100%
    }
}
.col-md-5 {
    float:left;
    width:41.66667%
}
@media (max-width:767px) {
    .col-md-5 {
        width:100%
    }
}
.col-md-6 {
    float:left;
    width:50%
}
@media (max-width:767px) {
    .col-md-6 {
        width:100%
    }
}
.col-md-7 {
    float:left;
    width:58.33333%
}
@media (max-width:767px) {
    .col-md-7 {
        width:100%
    }
}
.col-md-8 {
    float:left;
    width:66.66667%
}
@media (max-width:767px) {
    .col-md-8 {
        width:100%
    }
}
.col-md-9 {
    float:left;
    width:75%
}
@media (max-width:767px) {
    .col-md-9 {
        width:100%
    }
}
.col-md-10 {
    float:left;
    width:83.33333%
}
@media (max-width:767px) {
    .col-md-10 {
        width:100%
    }
}
.col-md-11 {
    float:left;
    width:91.66667%
}
@media (max-width:767px) {
    .col-md-11 {
        width:100%
    }
}
.bdp-a {
    color:#5182e4;
    text-decoration:underline
}
.bdp-a:hover {
    text-decoration:none
}
.ml-4 {
    margin-left:-4px
}
.mr-4 {
    margin-right:-4px
}
.bdp-icon {
    display:inline-block;
    width:16px;
    height:16px;
    vertical-align:middle
}
#dash, .download-btn-mobile {
    display:none
}
@media screen and (min-width:768px) and (max-width:992px) {
    #member_info {
        display:none
    }
    #instructional_video {
        display:none
    }
}
.container {
    max-width:1346px;
    margin:0 auto
}
.hide {
    display:none
}
.free-use-btn {
    display:inline-block;
    font-weight:700;
    cursor:pointer;
    transition:all .2s ease-in-out
}
.free-use-btn.btn-blue {
    min-width:120px;
    padding:0 32px;
    line-height:40px;
    border-radius:40px;
    font-size:14px;
    background:#2E68DC;
    box-shadow:0 4px 8px 0 rgba(30, 62, 124, .15);
    color:#fff
}
.free-use-btn.btn-blue:hover {
    background:#3B69C3;
    box-shadow:0 16px 24px 0 rgba(23, 57, 126, .15), 0 4px 8px 0 rgba(30, 62, 124, .15)
}
.free-use-btn.btn-white {
    padding:0 40px;
    line-height:48px;
    border-radius:40px;
    font-size:15px;
    background:#fff;
    color:rgba(10, 18, 32, .64);
    box-shadow:0 4px 8px 0 rgba(30, 62, 124, .15)
}
.free-use-btn.btn-white:hover {
    color:rgba(10, 18, 32, .87);
    background:#FFF;
    box-shadow:0 16px 24px 0 rgba(23, 57, 126, .15), 0 4px 8px 0 rgba(30, 62, 124, .15)
}
.btn-animation {
    line-height:28px;
    padding:0 14px;
    font-weight:700;
    font-size:14px;
    background:transparent;
    color:#fff;
    border:1px solid #fff;
    cursor:pointer;
    overflow:hidden;
    position:relative;
    transition:.2s all 0s cubic-bezier(0.2, 1, .3, 1)
}
.btn-animation span {
    position:relative;
    z-index:2
}
.btn-animation::before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:150%;
    height:100%;
    z-index:0;
    opacity:0;
    -webkit-transform:rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform:rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin:0 100%;
    transform-origin:0 100%;
    -webkit-transition:-webkit-transform .3s, opacity .3s, background .3s;
    transition:transform .3s, opacity .3s, background .3s
}
.btn-animation:hover {
    border:1px solid #fff;
    color:#5182e4;
    transition:.2s all 0s cubic-bezier(0.2, 1, .3, 1)
}
.btn-animation:hover::before {
    background:#fff;
    opacity:1;
    -webkit-transform:rotate3d(0, 0, 1, 0deg);
    transform:rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function:cubic-bezier(0.2, 1, .3, 1);
    transition-timing-function:cubic-bezier(0.2, 1, .3, 1)
}
@media (max-width:767px) {
    .btn-animation {
        border:0
    }
    .btn-animation:hover {
        border:0
    }
    .btn-animation::before, .btn-animation:hover::before {
        display:none
    }
}
body.instructional-video {
    background:#F3F8FC
}
.banner {
    height:360px;
    text-align:center
}
.banner .banner-title {
    padding-top:128px;
    margin-bottom:8px;
    font-size:40px;
    line-height:56px;
    font-weight:300;
    color:#fff
}
.banner .banner-slogan {
    font-size:14px;
    line-height:22px;
    color:rgba(255, 255, 255, .7)
}
@media screen and (max-width:767px) {
    .banner {
        height:auto;
        padding:0 24px
    }
    .banner .banner-title {
        padding-top:70px;
        margin-bottom:0;
        font-size:36px;
        line-height:45px;
        font-weight:300
    }
    .banner .banner-slogan {
        margin-top:12px;
        padding-bottom:32px;
        font-size:14px;
        line-height:22px
    }
}
.ngdialog {
    background:rgba(213, 217, 220, .94)
}
.ngdialog-overlay {
    background:0 0
}
.ngdialog.ngdialog-theme-default .ngdialog-close {
    background:url(/personal/img/member/delete_c6b8f91.svg?__sprite) 0 0 no-repeat
}
.ngdialog.ngdialog-theme-default .ngdialog-content {
    background:#F0F2F3;
    color:rgba(10, 18, 32, .64);
    box-shadow:0 2px 4px 0 rgba(0, 0, 0, .1), 0 16px 24px 0 rgba(170, 182, 206, .36)
}
.ngdialog.ngdialog-theme-default .ngdialog-button.ngdialog-button-primary, .ngdialog.ngdialog-theme-default .ngdialog-button.ngdialog-button-secondary, .ngdialog.ngdialog-theme-default .ngdialog-button.ngdialog-button-disabled, .ngdialog.ngdialog-theme-default .row .btn:disabled {
    background:transparent;
    color:#5182e4
}
.ngdialog.ngdialog-theme-default .ngdialog-button.ngdialog-button-primary:hover, .ngdialog.ngdialog-theme-default .ngdialog-button.ngdialog-button-secondary:hover {
    background:rgba(81, 130, 228, .1)
}
.tab-bdp {
    height:34px;
    line-height:34px;
    box-shadow:inset 0 -1px 0 0 rgba(0, 0, 0, .1)
}
.tab-bdp .tab-bdp__item:hover {
    opacity:1
}
.tab-bdp .tab-bdp__item:hover:after {
    width:100%
}
.tab-bdp .tab-bdp__item {
    position:relative;
    float:left;
    font-size:14px;
    cursor:pointer;
    font-weight:700;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -ms-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}
.tab-bdp .tab-bdp__item+.tab-bdp__item {
    margin-left:32px
}
.tab-bdp .tab-bdp__item.active {
    opacity:1;
    color:#585BF4
}
.tab-bdp .tab-bdp__item.active:after {
    width:100%
}
.tab-bdp .tab-bdp__item:after {
    content:"";
    display:block;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    height:2px;
    width:0;
    background:#585BF4;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -ms-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out
}
@media screen and (max-width:767px) {
    .tab-bdp {
        width:100%;
        height:50px;
        line-height:50px;
        white-space:nowrap;
        overflow-x:auto;
        box-shadow:inset 0 -1px 0 0 rgba(0, 0, 0, .1)
    }
    .tab-bdp:hover .tab-bdp__item {
        opacity:1
    }
    .tab-bdp .tab-bdp__item {
        display:inline-block;
        float:none;
        padding:0 16px;
        font-size:15px
    }
    .tab-bdp .tab-bdp__item+.tab-bdp__item {
        margin-left:0
    }
}
html {
    width:100%;
    height:100%;
    min-height:100%
}
body {
    width:100%;
    height:100%;
    min-height:100%;
    color:rgba(10, 18, 32, .64);
    background:#F1F7FC
}
a {
    color:#5182e4
}
a:hover {
    text-decoration:underline
}
@media screen and (max-width:768px) {
    html {
        height:auto
    }
    body {
        padding-bottom:40px!important;
        height:auto;
        color:rgba(255, 255, 255, .42);
        background-image:-webkit-linear-gradient(#4562E9 0, #56B5FE 100%), radial-gradient(18% 84%, #5888F5 2%, #586EF5 60%, #7558F4 100%);
        background-image:-o-linear-gradient(#4562E9 0, #56B5FE 100%), radial-gradient(18% 84%, #5888F5 2%, #586EF5 60%, #7558F4 100%);
        background-image:linear-gradient(#4562E9 0, #56B5FE 100%), radial-gradient(18% 84%, #5888F5 2%, #586EF5 60%, #7558F4 100%)
    }
    a {
        color:#fff
    }
    .hide-mobile {
        display:none
    }
}
input {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}
input[type=password] {
    border-radius:0
}
.ta-hidden-input {
    width:1px;
    height:1px;
    border:0;
    margin:0;
    padding:0;
    position:absolute;
    top:-10000px;
    left:-10000px;
    opacity:0;
    overflow:hidden
}
.select {
    height:28px;
    line-height:28px;
    border:0;
    box-shadow:none;
    background-color:transparent;
    background-image:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    padding:0 24px 0 0;
    border-radius:0;
    font-size:12px
}
.select {
    font-size:14px;
    width:100%;
    background:url(/personal/img/account/triangle-down_6e340e5.svg) no-repeat right 8px;
    color:#29303B!important;
    box-shadow:0 -1px 0 0 rgba(81, 130, 228, .6) inset
}
option {
    color:rgba(10, 18, 32, .64);
    background:#FFF
}
@media screen and (max-width:767px) {
    .select {
        color:#fff!important;
        box-shadow:0 -1px 0 0 rgba(255, 255, 255, .5) inset
    }
}
.select.other {
    float:left;
    width:56px
}
.dropdown-wrap {
    background-color:#FFF;
    box-shadow:0 0 6px 0 rgba(0, 0, 0, .1), 0 10px 12px 0 rgba(170, 182, 206, .36)
}
.dropdown-item {
    color:rgba(10, 18, 32, .64)
}
.dropdown-item:hover, .dropdown-item.active {
    color:rgba(10, 18, 32, .87);
    background-color:rgba(232, 235, 237, .6)
}
.dropdown-item:hover>* {
    color:rgba(10, 18, 32, .87)
}
.dropdown-item-disabled, .dropdown-item-disabled:hover, .dropdown-item-disabled:hover>* {
    color:rgba(0, 0, 0, .24);
    cursor:text
}
.dropdown-item-disabled:hover {
    background-color:transparent
}
.dropdown-wrap {
    position:absolute;
    top:32px;
    padding:8px 0
}
.dropdown-wrap .dropdown-item {
    cursor:pointer;
    padding:0 16px;
    min-width:72px;
    line-height:32px;
    white-space:nowrap
}
.dropdown-item:hover, .dropdown-item.active {
    transition:all .05s ease-in
}
@media screen and (max-width:767px) {
    .dropdown-wrap {
        background-color:#2E324D;
        box-shadow:0 0 6px 0 rgba(0, 0, 0, .1), 0 12px 24px 0 rgba(0, 0, 0, .3)
    }
    .dropdown-item {
        color:rgba(255, 255, 255, .7)
    }
    .dropdown-item:hover, .dropdown-item.active {
        color:#fff;
        background-color:rgba(81, 130, 228, .1)
    }
    .dropdown-item:hover>* {
        color:rgba(10, 18, 32, .87)
    }
    .dropdown-item-disabled, .dropdown-item-disabled:hover, .dropdown-item-disabled:hover>* {
        color:rgba(255, 255, 255, .24);
        cursor:text
    }
}
.select-info {
    position:relative;
    z-index:3
}
.select-info-list {
    z-index:10;
    width:100%;
    max-height:200px;
    overflow-y:auto
}
.select-info-list.top {
    top:auto;
    bottom:32px
}
.info-box .input-account.other {
    float:right;
    width:226px
}
.position-fixed {
    position:fixed
}
.per-container {
    display:table;
    width:100%;
    height:100%;
    margin:0 auto
}
.per-container .flexbox-container {
    display:table-cell;
    width:100%;
    height:auto;
    vertical-align:middle
}
.per-container .flexbox-container .flexbox-box {
    width:646px;
    margin:0 auto;
    position:relative;
    box-shadow:0 0 8px 0 rgba(0, 0, 0, .2), 0 26px 24px 0 rgba(12, 23, 44, .1)
}
.per-container .flexbox-container .flexbox-box.J-static-box {
    position:static;
    margin-top:32px
}
.per-container .flexbox-container .flexbox-box-bd {
    width:346px;
    min-height:384px;
    margin-left:300px;
    padding:32px 48px;
    text-align:left;
    background:#fff;
    -webkit-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out
}
.form-banner {
    position:absolute;
    top:0;
    left:0;
    width:300px;
    height:100%;
    text-align:center;
    background-image:-webkit-linear-gradient(#4562E9 0, #56B5FE 100%), -webkit-radial-gradient(18% 84%, #5888F5 2%, #586EF5 60%, #7558F4 100%);
    background-image:-o-linear-gradient(#4562E9 0, #56B5FE 100%), -o-radial-gradient(18% 84%, #5888F5 2%, #586EF5 60%, #7558F4 100%);
    background-image:linear-gradient(#4562E9 0, #56B5FE 100%), radial-gradient(18% 84%, #5888F5 2%, #586EF5 60%, #7558F4 100%)
}
.form-banner .form-logo {
    position:absolute;
    top:2px;
    left:22px;
    display:block;
    width:116px;
    height:64px;
    background:url(../images/nav/logo_cb26fff.png) center center no-repeat;
    background-size:cover
}
.form-banner .form-banner-img {
    position:relative;
    left:50%;
    top:50%;
    width:233px;
    height:233px;
    margin-top:-96.5px;
    margin-left:-116.5px;
    background:url(../images/form-banner-mobile_cdcbdb3.png) center center no-repeat;
    background-size:cover
}
@media screen and (max-width:767px) {
    .per-container {
        display:block;
        width:100%;
        height:auto;
        margin:42px auto 0
    }
    .per-container .flexbox-container {
        display:block;
        width:100%;
        height:auto
    }
    .per-container .flexbox-container .flexbox-box {
        width:100%;
        margin:0 auto;
        position:relative;
        box-shadow:none
    }
    .per-container .flexbox-container .flexbox-box.J-static-box {
        position:static;
        margin-top:32px
    }
    .per-container .flexbox-container .flexbox-box-bd {
        width:250px;
        min-height:auto;
        margin:0 auto;
        padding:0;
        background:transparent
    }
    .form-banner {
        position:fixed;
        top:auto;
        bottom:16px;
        left:0;
        right:0;
        z-index:-1;
        background:0 0;
        width:100%;
        height:auto
    }
    .form-banner .form-logo {
        display:none
    }
    .form-banner .form-banner-img {
        position:static;
        margin:0 auto;
        background-image:url(../images/form-banner-mobile_cdcbdb3.png)
    }
}
.tab-mobile {
    display:none;
    height:32px;
    line-height:32px;
    text-align:center;
    font-size:18px;
    font-weight:700;
    color:#fff
}
.tab-content {
    color:rgba(0, 0, 0, .7)
}
.tab-content ul {
    width:100%;
    display:inline-block;
    border-bottom:1px solid rgba(81, 130, 228, .15)
}
.tab-content li {
    float:left;
    width:250px;
    padding:8px 0;
    text-align:center;
    cursor:pointer;
    font-size:14px;
    transition:all .2s ease-in-out
}
.tab-content li:hover, .tab-content li.active {
    color:#5182E4
}
.tab-content li.active {
    font-weight:700;
    transition:all .2s ease-in-out;
    box-shadow:inset 0 -1px 0 #5182E4, 0 1px 0 #5182E4
}
.tab-content li+li {
    margin-left:16px
}
@media screen and (max-width:767px) {
    .tab-mobile {
        display:block
    }
    .tab-content {
        display:none;
        color:rgba(255, 255, 255, .7)
    }
    .tab-content ul {
        border-bottom:1px solid rgba(255, 255, 255, .15)
    }
    .tab-content li:hover, .tab-content li.active {
        color:#F3F8FC;
        box-shadow:inset 0 -1px 0 #F3F8FC, 0 1px 0 #F3F8FC
    }
}
.form {
    margin-top:32px
}
.form .row {
    overflow:visible;
    margin-bottom:24px;
    position:relative
}
.form .row.mb0 {
    margin-bottom:0
}
.form label {
    position:absolute;
    top:0;
    line-height:32px;
    text-align:left;
    font-size:14px;
    color:rgba(0, 0, 0, .5);
    -webkit-transition:.2s ease-in-out all;
    -o-transition:.2s ease-in-out all;
    transition:.2s ease-in-out all
}
.form .input-account {
    position:relative;
    z-index:2;
    width:100%;
    height:28px;
    margin:2px 0;
    line-height:28px;
    vertical-align:bottom;
    font-size:14px;
    border:0;
    background:0 0;
    box-shadow:inset 0 -1px 0 0 rgba(81, 130, 228, .6);
    color:rgba(10, 18, 32, .87);
    -webkit-transition:.2s ease-in-out all;
    -o-transition:.2s ease-in-out all;
    transition:.2s ease-in-out all
}
.form .input-account.s-input {
    padding-right:90px
}
.form .input-account:focus, .form .input-account.active {
    box-shadow:inset 0 -2px 0 0 #5182e4;
    -webkit-transition:.2s ease-in-out all;
    -o-transition:.2s ease-in-out all;
    transition:.2s ease-in-out all
}
.form .focus-input, .form .has-text {
    line-height:28px;
    top:-24px;
    font-size:12px;
    -webkit-transition:.2s ease-in-out all;
    -o-transition:.2s ease-in-out all;
    transition:.2s ease-in-out all
}
.form .focus-input {
    -webkit-transition:.2s ease-in-out all;
    -o-transition:.2s ease-in-out all;
    transition:.2s ease-in-out all
}
@media screen and (max-width:767px) {
    .form label {
        color:rgba(255, 255, 255, .7)
    }
    .form .input-account {
        box-shadow:inset 0 -1px 0 0 rgba(255, 255, 255, .5);
        color:#fff
    }
    .form .input-account:focus, .form .input-account.active {
        box-shadow:inset 0 -2px 0 0 #fff
    }
    .form .focus-input {
        color:#fff
    }
}
::-webkit-input-placeholder {
    color:rgba(255, 255, 255, .6)
}
:-moz-placeholder {
    color:rgba(255, 255, 255, .6)
}
::-moz-placeholder {
    color:rgba(255, 255, 255, .6)
}
:-ms-input-placeholder {
    color:rgba(255, 255, 255, .6)
}
::-webkit-clear, ::-webkit-reveal {
    display:none
}
.hint-layer {
    min-height:32px;
    line-height:32px;
    color:#e45151;
    font-size:12px;
    text-align:left
}
@media screen and (max-width:767px) {
    .hint-layer {
        font-weight:700;
        color:#FCDD63
    }
}
.submit-layer {
    text-align:center
}
.submit-layer .hide-submit {
    display:none
}
.btn-submit.btn-blue:hover {
    text-decoration:none
}
.btn-submit.btn-blue.disabled {
    background:rgba(255, 255, 255, .1);
    box-shadow:inset 0 0 0 2px rgba(255, 255, 255, .5);
    opacity:.4
}
@media screen and (max-width:767px) {
    .btn-submit.btn-blue {
        background:#fff;
        color:#3C69C3;
        box-shadow:0 4px 8px 0 rgba(30, 62, 124, .15)
    }
    .btn-submit.btn-blue:hover {
        background:#FFF;
        box-shadow:0 16px 24px 0 rgba(23, 57, 126, .15), 0 4px 8px 0 rgba(30, 62, 124, .15)
    }
}
.vt-img {
    position:absolute;
    top:-4px;
    right:0;
    z-index:10
}
.login-btn {
    position:absolute;
    top:-2px;
    right:0;
    z-index:10;
    display:block;
    margin:3px 0 0;
    padding:6px 0;
    cursor:pointer;
    color:#5182E4;
    font-size:13px;
    transition:all .2s ease-in-out
}
.login-btn:hover {
    text-decoration:underline;
    transition:all .2s ease-in-out
}
.login-btn.disable {
    cursor:not-allowed;
    color:rgba(10, 18, 32, .46)
}
.login-btn.disable:hover {
    font-weight:400;
    text-decoration:none
}
.p-btn {
    background:0 0;
    border:0
}
.p-btn.disable {
    opacity:.6
}
@media screen and (max-width:767px) {
    .login-btn {
        color:#fff;
        background:transparent
    }
}
.voice-verifical {
    position:absolute;
    left:0;
    bottom:0
}
.voice-verifical a {
    text-decoration:underline
}
.voice-verifical a:hover {
    text-decoration:none
}
.password-hint {
    position:absolute;
    width:88px;
    right:0;
    top:0
}
.password-hint em {
    content:'';
    position:absolute;
    width:0;
    height:0;
    border-width:8px;
    border-color:transparent #fff transparent transparent;
    border-style:solid;
    left:-16px;
    top:6px;
    z-index:10
}
.password-hint p span {
    margin-left:3px
}
.password-hint b {
    font-weight:400;
    opacity:.6
}
.password-hint .bar {
    height:2px;
    background-color:#eee;
    margin:5px 0;
    position:relative
}
.password-hint .bar:after {
    content:'';
    position:absolute;
    left:0;
    top:0;
    height:2px
}
.password-hint .bar.weaker:after {
    width:25%;
    background-color:#ff855a
}
.password-hint .bar.weak:after {
    width:50%;
    background-color:#ffc45a
}
.password-hint .bar.strong:after {
    width:100%;
    background-color:#58ca79
}
.per-container .flexbox-container .flexbox-box.info-box {
    width:703px
}
.per-container .flexbox-container .flexbox-box.info-box .flexbox-box-bd {
    width:403px
}
@media screen and (max-width:767px) {
    .per-container .flexbox-container .flexbox-box.info-box {
        width:100%
    }
    .per-container .flexbox-container .flexbox-box.info-box .flexbox-box-bd {
        width:264px
    }
}
.account-header {
    display:none;
    height:56px;
    margin-top:6px;
    line-height:56px
}
.account-header .logo {
    float:left;
    width:104px;
    height:56px;
    margin:0 0 0 13px;
    background:url(../images/nav/logo_cb26fff.png) center center no-repeat;
    background-size:cover
}
.account-header .btn-layer {
    float:right;
    margin:0 16px 0 0
}
.account-header .btn {
    display:inline-block;
    line-height:32px;
    height:32px;
    padding:0 22px;
    border-radius:100px;
    font-size:14px;
    font-weight:700;
    border:solid 1px rgba(255, 255, 255, .7);
    color:rgba(255, 255, 255, .7)
}
@media screen and (max-width:767px) {
    .account-header {
        display:block;
        margin-top:0
    }
}
.personal-footer {
    position:fixed;
    left:0;
    right:0;
    bottom:30px;
    width:100%;
    text-align:center;
    color:rgba(10, 18, 32, .46)
}
@media screen and (max-width:767px) {
    .personal-footer {
        bottom:8px;
        color:rgba(255, 255, 255, .5)
    }
}
.lg-box {
    height:400px;
    width:100%;
    position:absolute;
    left:0;
    top:150px;
    display:none
}
.lg-box .mask {
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background-color:#000;
    opacity:.6;
    z-index:0;
    filter:alpha(opacity=20)
}
.lg-box .main {
    position:absolute;
    left:50%;
    top:0;
    width:800px;
    margin-left:-400px;
    height:100%;
    text-align:center;
    color:#fff;
    background:url(/personal/img/account/chrome_8f08306.png) no-repeat center bottom
}
.lg-box h6 {
    font-size:22px;
    padding-top:70px;
    font-weight:400
}
.lg-box p {
    font-size:16px;
    margin-bottom:50px
}
.lg-box a {
    color:#fff;
    border:1px #fff solid;
    padding:12px 25px;
    border-radius:2px
}
.ngdialog.ngdialog-theme-default.go-email-dialog .ngdialog-content {
    position:absolute;
    top:50%;
    left:50%;
    margin-top:0;
    transform:translateY(-50%) translateX(-50%)
}
.ngdialog.ngdialog-theme-default.go-email-dialog .ngdialog-title {
    color:rgba(0, 0, 0, .6)
}
.ngdialog.ngdialog-theme-default.go-email-dialog .ngdialog-message {
    color:rgba(0, 0, 0, .6);
    line-height:24px
}
.ngdialog.ngdialog-theme-default.go-email-dialog .ngdialog-button {
    color:#5182E4
}
.ngdialog.ngdialog-theme-default.go-email-dialog .ngdialog-buttons.buttons-center {
    margin-bottom:16px
}
.ngdialog.ngdialog-theme-default.go-email-dialog .ngdialog-button:hover {
    background:rgba(81, 130, 228, .1)
}
.form.login {
    min-height:82px
}
.form.login .login-info {
    margin-top:30px
}
.form.login .login-info .l-input {
    width:176px;
    margin-top:5px
}
.form.login .verify-pic {
    position:absolute;
    bottom:0;
    right:0
}
.form.register {
    min-height:90px
}
.register-success {
    position:fixed;
    top:50%;
    left:0;
    z-index:10;
    width:100%;
    margin-top:-16px;
    line-height:32px;
    text-align:center;
    color:#fff
}
.form.findPassword {
    min-height:98px
}
.agreement-target-wrap {
    color:rgba(10, 18, 32, .46);
    margin-top:16px;
    text-align:center
}
.agreement-target-wrap .agreement-target {
    color:rgba(10, 18, 32, .46);
    text-decoration:underline
}
.agreement-target-wrap .agreement-target:hover {
    text-decoration:none
}
@media screen and (max-width:767px) {
    .agreement-target-wrap {
        color:rgba(255, 255, 255, .5)
    }
    .agreement-target-wrap .agreement-target {
        color:rgba(255, 255, 255, .5)
    }
}
.set-psw-box .form {
    margin-top:0
}
.set-psw-box .flexbox-box-bd, .unsubscribe-box .flexbox-box-bd {
    padding-top:80px!important
}
.pwd-short .input-account {
    padding-right:100px;
    -webkit-transition:.2s ease-in-out all;
    -o-transition:.2s ease-in-out all;
    transition:.2s ease-in-out all
}
.unsubscribe-box {
    line-height:28px;
    font-size:14px
}
.email-layer {
    display:none
}
.link-hint-layer {
    text-align:center;
    margin:0
}
.consummate-info {
    line-height:32px;
    text-align:center;
    font-size:16px;
    font-weight:700;
    color:#5182E4
}
.consummate-info .consummate-slogan {
    margin-top:16px;
    font-size:14px;
    width:300px;
    height:28px;
    background-color:#FFFDF0;
    border:1px solid #FFCD82;
    line-height:28px;
    font-weight:400;
    color:#F7742A
}
@media screen and (max-width:767px) {
    .consummate-info {
        color:#fff;
        font-size:18px
    }
    .consummate-info .consummate-slogan {
        font-size:14px;
        color:#F7742A
    }
}